doctype html
html
  head
    title Travel AI Demo
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no')
    style
      include ../style/index.css
  body
    .boxes
      #main(style='top:20%;')
      .wrap
        a.button(href='#', style='display: inline-block') Shuffle
        a#myButton.button2(href='#', style='display: inline-block', onclick="location.href = 'trip';") Let's go!
      script(src='../lib/jquery/jquery.min.js')
      script(src='../lib/hammer/hammer.min.js')
      script(src='../lib/tindercardsjs/tindercards.js')
      script(src='../lib/utils/shuffle.js')
      script(src='../lib/card.js')

