doctype html
html
    head
        title trip
        style
            include ../style/trip.css
            include ../style/googlefont1.css
    body
        .boxes1
            .box
            .box
            .box
                div Deluxe Package
                .progress
                    .bar
                        .bar__fill(style="width: 33%;")
                    .point.point--complete
                        .bullet
                        label.label Select
                    .point.point--active
                        .bullet
                        label.label Review
                    .point
                        .bullet
                        label.label Payment
                    .point
                        .bullet
                        label.label Success
        .boxes2
            .box
            .box
            .box
                div Budget Package
                .progress
                    .bar
                        .bar__fill(style="width: 33%;")
                    .point.point--complete
                        .bullet
                        label.label Select
                    .point.point--active
                        .bullet
                        label.label Review
                    .point
                        .bullet
                        label.label Payment
                    .point
                        .bullet
                        label.label Success

        button.radius-toggle Toggle Click Radius
        script(src='/lib/jquery/2.1.3.jquery.min.js')
        script(src='/lib/utils/TweenMax.min.js')
        script(src='/lib/utils/pointAnimation.js')
